/*                    Globals                    */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
/*                    Header                     */
header {
  width: 100%;
  height: 90px;
  display: flex;
  background-color: rgb(0, 100, 255);
}
header .logo {
  width: 25%;
  display: flex;
  justify-content: center;
  align-items: center;
}
header .links {
  width: 75%;
  display: flex;
  justify-content: flex-end;
}
header .links .item {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
  width: 100px;
  text-decoration: none;
  border: 5px;
  background-color: rgb(0, 90, 255);
  color: white;
  margin: 0 2rem;
}
header .links button {
  background-color: rgb(0, 100, 255);
  border: 0px;
  width: 50px;
  height: 50px;
  margin: auto 5rem auto 2rem;
}
header .links button img {
  width: 50px;
  height: 50px;
}
/*                    Main                     */
main .itemList {
  width: 100%;
  height: 400px;
  background-color: rgb(87, 87, 87);
  color: white;
  display: flex;
  align-items: center;
  justify-content: center;
}
main .itemDetailList {
  background-color: grey;
  width: 700px;
  margin: auto;
}
main .itemList .itemCard {
  width: 19%;
  height: 350px;
  background-color: black;
  margin: auto;
}
main .itemList .itemCard img {
  width: 100px;
  height: 100px;
}

main .itemList .item {
  width: 19%;
  height: 300px;
  background-color: aliceblue;
}
main .itemList .item .box {
  display: flex;
  border: 1px solid rgb(0, 100, 255);
  border-radius: 5px;
  justify-content: center;
}
main .itemList .item .under-box {
  display: flex;
  width: 95%;
  margin: auto;
}
main .itemList .item .under-box span {
  width: 15%;
}
main .itemList .item .under-box p {
  width: 15%;
}
main .itemList .item .under-box button {
  width: 70%;
}
main .itemList .item .box button {
  width: 12%;
  background-color: aliceblue;
  color: rgb(0, 100, 255);
  border: 0;
}
main .itemList .item .box p {
  width: 75%;
  display: flex;
  justify-content: center;
  border-left: 1px solid rgb(0, 100, 255);
  border-right: 1px solid rgb(0, 100, 255);
}
/*                    Footer                    */
footer {
  width: 100%;
  height: 90px;
  background-color: rgb(0, 90, 255);
}
